@import"../variables/variables";

@mixin felizibilizar-centrar {
    display: flex;
    justify-content: space-between;
}

@mixin fuentes {
    font-family: $tipo-de-letra;
    font-style:italic;
    font-weight: bold;
}

@mixin estilos-de-anclas {
    text-decoration: none;
    font-family:$tipo-de-letra ;
    
}